* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: Inter;
}

body {
    max-width: 1360px;
    background-color: #E1D4C9;
    margin: auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    max-width: 1360px;
    margin: auto;
    background-color: #E1D4C9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    height: 60px;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav p {
    font: 600 16px Inter;
    color: #403F3D;
}

header nav p:hover {
    text-decoration: underline;
}

header button {
    width: 72px;
    height: 28px;
    display: flex;
    align-items: center;
    gap: 8px;
    font: 600 16px Inter;
    color: #403F3D;
}

header button:hover {
    border-bottom: 2px solid #403F3D;
}

header .btn-img {
    width: 20px;
    height: 20px;
}

/* Media Queries-Tablet 768px */
header .menu-burger {
    display: none;
}

@media(max-width:768px) {
    header .container nav {
        display: none;
    }

    header .container button {
        display: none;
    }

    header .menu-burger {
        display: inline;
        width: 44px;
        height: 44px;
    }
}